<ul>
    <li>
      <h2><a class="nav-link"><%= link_to t('coin_title'), coins_path %></a></h2>
    </li>
    <li>
      <h2><a class="nav-link"><%= link_to t('type_mining_title'), mining_types_path %></a></h2>
    </li>
</ul>
